.inputLine {
  color: #bde3bd;
  display: flex;
  text-align: center;

  & > p {
    margin: 0;
  }

  & > input {
    width: 0;
    height: 0;
    border: none;
    color: #bde3bd;
    background-color: transparent;
    margin-left: 1ex;

    &:focus {
      outline: none;
    }
  }
}

.autocomplete {
  color: #aaa;
}

.content {
  display: inline;
}
