@font-face {
  font-family: "VCR";
  src: url("better-vcr-5.4.ttf") format("truetype");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #aaa;
  background-color: #181718;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-family: VCR, monospace;
}
